{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}✨{% trans "Create Site" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block extra-head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    <div class="card">
      <form action="." method="POST">
      {% csrf_token %}

        {% trans "Create Tabbycat Site" context "page title" as title %}
        {% trans "This form will create a Tabbycat site on which you can create tournaments for your event!" as text %}
        {% trans "A site can be used for many tournaments that are part of an overarching event. The creation of tournaments will be disabled after the event, so new sites will be necessary for subsequent events." as p1 %}
        {% blocktrans trimmed asvar p2 %}
        <a href="mailto:calico@tabbycat-debate.org">Contact us</a> if you're experiencing difficulties with the form or require another payment method.
        {% endblocktrans %}
        {% include "components/form-title.html" with emoji="✨" %}

        {% include "components/form-main.html" %}

        {% trans "Go to Payment" context "button" as title %}
        {% trans "Cancel and go back to the site home page" as subtitle %}
        {% url 'global-main-page' as suburl %}
        {% include "components/form-submit.html" %}
      </form>
    </div>

  </div>

</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>
// Give initial timezone suggestion
document.getElementById("id_timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;

let currencies = {
  "aud": 55,
  "cad": 50,
  "eur": 35,
  "usd": 40
}
let paymentLabel = document.querySelector('button[name="continue"]');
let updatePrice = (e) => {
  let currency = document.querySelector('#id_currency').value;
  var val = currencies[currency];
  if (document.querySelector("#id_backups").checked) { val *= 2; }
  paymentLabel.innerText = '{% trans "Go to Payment" %}' + " (" + val.toFixed(2) + currency.toUpperCase() + " + tax)";
};
updatePrice();
document.querySelector('#id_backups').addEventListener("change", updatePrice);
document.querySelector('#id_currency').addEventListener("change", updatePrice);
</script>
{% endblock %}
