{% extends "base.html" %}
{% load i18n %}
{% block page-title %}{% trans "Main Page" %}{% endblock %}
{% block extra-css %}

<style>
  body {
    background-image: linear-gradient(to top, #654326, #A0723D 50%, #BF9D4F 80%, #D0AD58 100%);
  }
</style>
{% endblock %}

{% block header %}{% endblock header %}
{% block nav %}{% endblock nav %}
{% block footer %}{% endblock footer %}

{% block content %}

<div class="py-5">
  <div class="card p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="card-body my-5">
      <h1 class="display-4 font-weight-normal">{% trans "Calico" %}</h1>
      <p class="lead font-weight-normal">{% trans "Tabbycat debate tabulation as a service" %}</p>
      {% if user.is_authenticated %}
        <a href="{% url 'create-instance' %}" class="btn btn-lg btn-success">
          {% trans "Create Site" %}
        </a>
        <a href="{% url 'own-tournaments-list' %}" class="btn btn-lg btn-info">
          {% trans "Your Sites" %}
        </a>
      {% else %}
        <a href="{% url 'create-account' %}" class="btn btn-lg btn-success">
          {% trans "Register" %}
        </a>
        <a href="{% url 'login' %}" class="btn btn-lg btn-info">
          {% trans "Log In" %}
        </a>
      {% endif %}
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="card flex-1 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="card-body my-3 py-3">
      <h2 class="display-5">{% trans "Everything Works" %}</h2>
      <p class="lead">{% trans "Calico will setup your tab site instantly. All services - emails, databases, etc - are ready for whatever your tournament needs." %}</p>
    </div>
  </div>
  <div class="card flex-1 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="card-body my-3 py-3">
      <h2 class="display-5">{% trans "Archiving Inbuilt" %}</h2>
      <p class="lead">{% trans "Calico will keep your tab around indefinitely; ensuring that your tournament's results are always available." %}</p>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="card flex-1 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="card-body my-3 py-3">
      <h2 class="display-5">{% trans "Predictable Pricing" %}</h2>
      <p class="lead">{% trans "Calico charges a clear and low fee of 40USD for hosting your tournament. No need to worry about Dyno or Heroku addon costs." %}</p>
    </div>
  </div>
  <div class="card flex-1 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="card-body my-3 py-3">
      <h2 class="display-5">{% trans "Automatic Scaling" %}</h2>
      <p class="lead">{% trans "Calico shares hosting resources to ensure that all tournaments are always ready for any amount of traffic." %}</p>
    </div>
  </div>
</div>

{% endblock %}
