{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}✨{% trans "Create Site" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block extra-head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    <div class="card">
      <form action="." method="POST">
      {% csrf_token %}

        {% trans "Pay for Tabbycat Tournament" context "page title" as title %}
        {% trans "This form will increase the number of tournaments you may host on an existing site." as text %}
        {% blocktrans trimmed asvar p1 %}
        Contact <a href="mailto:ebeaule@tabbycat-debate.org">Étienne</a> if you want an alternative plan/discount or require another payment method.
        {% endblocktrans %}
        {% include "components/form-title.html" with emoji="✨" p2="" %}

        {% include "components/form-main.html" %}

        {% trans "Pay for Tournament" context "button" as title %}
        {% trans "Cancel" as subtitle %}
        {% url 'global-main-page' as suburl %}
        {% include "components/form-submit.html" %}
      </form>
    </div>

  </div>

</div>

{% endblock %}

{% block js %}
{{ block.super }}
<script>
const currencies = {
  "aud": 55,
  "cad": 50,
  "eur": 35,
  "usd": 40
}
let paymentLabel = document.querySelector('button[name="continue"]');
let updatePrice = (e) => {
  let currency = document.querySelector('#id_currency').value;
  var val = currencies[currency] * document.querySelector("#id_qtd").value;
  paymentLabel.innerText = '{% trans "Pay for Tournament" %}' + " (" + val.toFixed(2) + currency.toUpperCase() + " + tax)";
};
updatePrice();
document.querySelector("#id_qtd").addEventListener("change", updatePrice);
document.querySelector('#id_currency').addEventListener("change", updatePrice);
</script>
{% endblock %}
