{% extends "tables/base_vue_table.html" %}
{% load add_field_css i18n %}

{% block head-title %}{% endblock %}
{% block nav %}{% include "nav/global_nav.html" %}{% endblock nav %}

{% block page-subnav-sections %}
  {% include 'nav/site_actions.html' %}
{% endblock page-subnav-sections %}

{% block content %}

<div class="row">

  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    <div class="card">

      {% if client.is_pro %}
      <form id="create-backup" action="{% url 'backup-instance' schema=client.schema_name %}" method="POST">
      {% csrf_token %}

        {% include "components/form-main.html" %}

        {% trans "Create Backup" context "button" as title %}
        {% include "components/form-submit.html" %}
      </form>
      {% endif %}

    </div>

  </div>

</div>

{% if client.is_pro %}
<form action="{% url 'backup-action' schema=client.schema_name %}" method="POST">
  {% csrf_token %}
  {{ block.super }}
  <button class="btn btn-primary" type="submit" name="submit" value="download">{% trans "Download" %}</button>
  <button class="btn btn-danger" type="submit" name="submit" value="delete">{% trans "Delete" %}</button>
  <button class="btn btn-danger" type="submit" name="submit" value="restore">{% trans "Restore" %}</button>
</form>
{% endif %}

{% endblock %}
