packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    postgresql15: []
    postgresql15-server: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tabbycat.wsgi:application
  aws:elasticbeanstalk:application:environment:
    ALLOWED_HOSTS: '*'
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /.well-known: .well-known
    /static: tabbycat/staticfiles
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:183433612554:certificate/087fb626-3355-4692-bb2f-0e4b53c3b5d9
    Rules: ws
  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP
