packages:
  yum:
    amazon-linux-extras: []
    gcc: []
    gcc-c++: []
    make: []
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tabbycat.wsgi:application
  aws:elasticbeanstalk:application:environment:
    ALLOWED_HOSTS: '*'
    AWS_ACCESS_KEY_ID: AKIAIE2QHUCLWKA3UDMQ
    AWS_DEFAULT_REGION: us-east-2
    AWS_MULTI: true
    AWS_SECRET_ACCESS_KEY: 4SPp0oplfCZIkSxVR+NVlcI3HP1XWLlpB7VoVV+h
    BACKUPS_S3_BUCKET: s3://calico-backups/
    DJANGO_SETTINGS_MODULE: settings
    DJ_SECRET_KEY: 'fG1.CZz!Z3\Avi})]jcoKMvc?UCgR9fmdUMky;9Kc4[T5NO7pB'
    EMAIL_FROM_ADDRESS: noreply@calicotab.com
    EMAIL_HOST: email-smtp.us-east-2.amazonaws.com
    EMAIL_PASSWORD: BI0So6SUR72loNKxC/vBPqAtxbGXqz2Pj95rs1n7v/so
    EMAIL_USERNAME: AKIASVNL6ZUFDWLS3C66
    NODE_ENV: production
    PYTHONPATH: /var/app/venv/staging-LQM1lest/bin:/var/app/current/tabbycat:$PYTHONPATH
    REDIS_HOST: True
    REDIS_HOST_URL: redis://calico.weyg94.0001.use2.cache.amazonaws.com:6379
    SES_WEBHOOK_KEY: hbgVYgoI6UUB
    STRIPE_CONNECT_ENDPOINT_KEY: whsec_BnxXFeYkK0gymfNwDyDyJ3yWn5d8lhgY
    STRIPE_ENDPOINT_KEY: whsec_zLEPXj9GitF6Pa4pD7hA9Mr0h9PKtRLT
    STRIPE_INSTANCE_PRICE_ID: price_1HCeyxF87ztd0bejCVJb4jPu
    STRIPE_PUBLISHABLE_KEY: pk_live_51HAtEEF87ztd0bejKJ7fjgHbcCqhHI4N1j4lBlo8WfAfJp3fuNta72eLd9AEgtu6p4XXh3OFKFhXounUxYat6dcl00PGohqOMx
    STRIPE_SECRET_KEY: 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
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /.well-known: .well-known
    /static: tabbycat/staticfiles
  aws:elbv2:listener:80:
    DefaultProcess: http
    ListenerEnabled: 'true'
    Protocol: HTTP
    Rules: ws
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-2:183433612554:certificate/087fb626-3355-4692-bb2f-0e4b53c3b5d9
    Rules: ws
  aws:elbv2:listenerrule:ws:
    PathPatterns: /ws/*
    Process: websocket
    Priority: 1
  aws:elasticbeanstalk:environment:process:http:
    Port: '80'
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
    Port: '5000'
    Protocol: HTTP
container_commands:
  02_install_postgres:
    command: "sudo amazon-linux-extras enable postgresql12 && sudo yum install -y postgresql postgresql-devel"
  03_file_perms:
    command: "chmod +x .platform/hooks/predeploy/01_django.sh"
