{% extends "base.html" %}
{% load debate_tags i18n %}

{% block head-title %}<span class="emoji">👋</span>
{% blocktrans trimmed with tournament=tournament.name %}
    Welcome to {{ tournament }}
{% endblocktrans %}{% endblock %}
{% block page-title %}
  {% blocktrans trimmed with tournament=tournament.name %}
    Welcome to {{ tournament }}
  {% endblocktrans %}
{% endblock %}

{% block page-alerts %}{% endblock %}
{% block nav %}{% include "nav/reg_base_nav.html" %}{% endblock %}

{% block content %}

  {% if pref.welcome_message %}
    <div class="card">
      <div class="card-body pb-0">
        {{ pref.welcome_message|safe }}
      </div>
    </div>
  {% endif %}

  <div class="list-group mt-2">

    {% if pref.enable_institutions %}
      {% trans "Register Institution" as text %}
      {% tournamenturl 'register-institution' as url %}
      {% include "components/item-action.html" with icon="corner-up-right" %}
    {% endif %}

    {% if pref.enable_teams %}
      {% trans "Register Team" as text %}
      {% tournamenturl 'register-team' as url %}
      {% include "components/item-action.html" with icon="sun" %}
    {% endif %}

    {% if pref.enable_adjs %}
      {% trans "Register Adjudicator" as text %}
      {% tournamenturl 'register-adjudicator' as url %}
      {% include "components/item-action.html" with icon="file-text" %}
    {% endif %}

    {% if pref.enable_ia_applications %}
      {% trans "Diligencia tu Experiencia" as text %}
      {% tournamenturl 'ia-application' as url %}
      {% include "components/item-action.html" with icon="user-plus" %}
    {% endif %}

  </div>

  {% if own_adjs or own_teams %}
  <div class="list-group mt-2">
    {% for p in own_adjs %}
      {% if not p.paid and pref.adjudicator_fee > 0 %}
        {% blocktrans trimmed with name=p.name asvar text %}Payment for {{ name }}{% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with name=p.name asvar text %}Payment for {{ name }} (paid){% endblocktrans %}
      {% endif %}
      {% tournamenturl 'individual-adj-payment' pk=p.pk as url %}
      {% include "components/item-action.html" with icon="credit-card" %}
    {% endfor %}
    {% for p in own_teams %}
      {% if not p.paid and pref.team_fee > 0 %}
        {% blocktrans trimmed with name=p.name asvar text %}Payment for {{ name }}{% endblocktrans %}
      {% else %}
        {% blocktrans trimmed with name=p.name asvar text %}Payment for {{ name }} (paid){% endblocktrans %}
      {% endif %}
      {% tournamenturl 'individual-team-payment' pk=p.pk as url %}
      {% include "components/item-action.html" with icon="credit-card" %}
    {% endfor %}
  </div>
  {% endif %}

  {% for i in own_institutions %}
    <div class="list-group mt-2">
      {% blocktrans trimmed with name=i.name asvar text %}Register teams for {{ name }}{% endblocktrans %}
      {% tournamenturl 'institution-edit-teams' pk=i.pk as url %}
      {% include "components/item-action.html" with icon="sun" %}

      {% blocktrans trimmed with name=i.name asvar text %}Register adjudicators for {{ name }}{% endblocktrans %}
      {% tournamenturl 'institution-edit-adjudicators' pk=i.pk as url %}
      {% include "components/item-action.html" with icon="file-text" %}

      {% blocktrans trimmed with name=i.name asvar text %}Payment for {{ name }}{% endblocktrans %}
      {% tournamenturl 'institution-payment' pk=i.pk as url %}
      {% include "components/item-action.html" with icon="credit-card" %}
    </div>
  {% endfor %}

  {% if is_manager %}
    <div class="list-group mt-2">

      {% trans "Registration Statuses" as text %}
      {% tournamenturl 'admin-registration-list' as url %}
      {% include "components/item-action.html" with icon="book-open" %}

      {% trans "Institution Requests" as text %}
      {% tournamenturl 'admin-institutions-list' as url %}
      {% include "components/item-action.html" with icon="home" %}

      {% trans "IA Applications" as text %}
      {% tournamenturl 'ia-applicants-list' as url %}
      {% include "components/item-action.html" with icon="user-plus" %}

      {% trans "Preferences" as text %}
      {% tournamenturl 'admin-preferences' as url %}
      {% include "components/item-action.html" with icon="settings" %}

    </div>

    {% if not tournament.connected_account %}
      <div class="list-group mt-2">
        <form action="{% tournamenturl 'stripe-connect-account' %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="continue" class="btn btn-block btn-primary mb-3">{% trans "Connect Stripe" %}</button>
        </form>
      </div>
    {% endif %}

    <div class="list-group mt-2">
      <form action="{% tournamenturl 'export-tournament' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="continue" class="btn btn-block btn-primary mb-3">{% trans "Export Registration" %}</button>
      </form>
    </div>
  {% endif %}

  {% if pref.tournament_staff %}
    <div class="card mt-3">
      <div class="card-header h6">
        {% trans "Tournament Staff" %}
      </div>
      <div class="card-body">
        {{ pref.tournament_staff|safe }}
      </div>
    </div>
  {% endif %}

{% endblock content %}
