{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}{{ form_title }}{% endblock %}

{% block nav %}{% endblock %}


{% block content %}

<div class="row">

  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    <div class="card">
      <form action="." method="POST">
      {% csrf_token %}

        {% include "components/form-title.html" with title=form_title emoji="✨" text=form_text p1=explain_text p2="" %}

        {% include "components/form-main.html" %}

        {% trans "Submit" context "button" as title %}
        {% trans "Cancel and go back to the tournament home page" as subtitle %}
        {% url 'global-main-page' as suburl %}
        {% include "components/form-submit.html" %}
      </form>
    </div>

  </div>

</div>

{% endblock %}
