{% extends "base.html" %}
{% load add_field_css i18n %}

{% block page-title %}🔐{% trans "Create Account" context "page title" %}{% endblock %}
{% block head-title %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col-lg-8 ml-lg-auto mr-md-auto">

    <div class="card">
      <form id="create_account" action="." method="POST">
      {% csrf_token %}

        {% trans "Create Calico Account" context "page title" as title %}
        {% trans "An account will allow you to create Tabbycat sites, and will serve as your account on sites you create." as text %}
        {% include "components/form-title.html" with emoji="🔐" p1="" p2="" %}

        {% include "components/form-main.html" %}

        {% trans "Create Account" context "button" as title %}
        {% trans "Cancel and go back to the site home page" as subtitle %}
        {% url 'global-main-page' as suburl %}
        {% include "components/form-submit.html" %}


      </form>
    </div>

  </div>

</div>

{% endblock %}
