{% load debate_tags i18n %}


<div class="btn-group">
  {% if domain %}
    <a class="btn btn-outline-primary active" href="//{{ domain.domain }}">
      {% trans "Go to Site" %}
    </a>
  {% endif %}
</div>

<div class="btn-group">
  <form action="{% url 'backup-instance' schema=client.schema_name %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-primary" id="generateSiteBackup" type="submit">
      {% trans "Download Backup" %}
    </button>
  </form>
</div>

<div class="btn-group">
  <a class="btn btn-danger" href="{% url 'delete-instance' schema=client.schema_name %}">
    {% trans "Delete Site & Data" %}
  </a>
</div>
